#followerList {
  width: 800px;
}

#newFollowers {
  width: 520px;
  display: inline-block;
}

#unfollowedUsers {
  width: 280px;
  display: inline-block;
}

#lastCheckedContainer {
  margin-bottom: 20px;
}
