#followerList {
  width: 800px;
}

#newFollowers {
  width: 530px;
  display: inline-block;
}

#unfollowedUsers {
  width: 270px;
  display: inline-block;
}

#lastCheckedContainer {
  margin-bottom: 20px;
}
