/* Twitch like style */
body {
  /* background-color: #0e0e10; */
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #6441a4;
  /* padding: 20px; */
  color: #fff;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #a970ff;
}
/* =========== */

#title-container {
  display: flex;
  align-items: baseline;
  margin: 0 0 22px 0;
}

#title-container h1 {
  margin: 0;
}

#title-container a {
  margin-left: 20px;
}

#followerList {
  width: 800px;
}

#newFollowers {
  width: 510px;
  display: inline-block;
}

#unfollowedUsers {
  width: 290px;
  display: inline-block;
}

#lastCheckedContainer {
  margin-bottom: 20px;
}

#buttonContainer {
  padding-top: 20px; 
  display: flex;
  gap: 20px;
}

#refreshButtonContainer {
  display: flex;
  gap: 10px;
}
